{
  "presets": [
    "react",
    "flow",
    ["env", {
      "targets": {
        "node": true
      }
    }],
  ],
  "plugins": [
    ["babel-plugin-styled-components", {"ssr": true}],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
