{
  "presets": [
    "@babel/react",
    "@babel/flow",
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  },
  "plugins": [
    "babel-plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "react-imported-component/babel",
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
