{
  "presets": [
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
